.active {
  position: relative;
  &:after {
    content: "";
    background: #4a4a4a;
    position: absolute;
    bottom: 0;
    left: 45%;
    right: 0%;
    height: 1px;
    width: 10%;
  }
}

#logo {
  width: 127px;
}

.navbar-end .buttons {
    justify-content: center;
}