#CashflowPatterns {
  padding: 2rem 0;
  .button {
    opacity: 0;
  }
  #buttons-column {
    @media screen and (min-width: 769px) {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  svg {
    max-width: 500px;
    margin-top: -2rem;
    @media screen and (min-width: 769px) {
      margin-top: 0;
    }

    .box,
    .box-text,
    .arrow,
    #colorShadow,
    #in-flow,
    #out-flow,
    #income-item-job,
    #expense-item-bills,
    #expense-item-consumption,
    #expense-item-vacation,
    #liability-item-mortgage,
    #liability-item-big-toys,
    #liability-item-credit-card,
    #liability-item-debt,
    #expense-item-payments,
    #asset-item-business,
    #asset-item-real-estate,
    #asset-item-intellectual-property,
    #income-item-business,
    #income-item-rental,
    #income-item-dividends,
    #income-item-royalties {
      opacity: 0;
    }
    #background {
      fill: none;
    }

    #arrow-asset-1-path,
    #arrow-asset-2-path {
      fill: none;
      stroke: #000000;
      stroke-miterlimit: 10;
      stroke-width: 10;
    }

    #arrow-job-path {
      stroke-dasharray: 630;
      stroke-dashoffset: 1890;
    }
    #arrow-middle-class-path {
      stroke-dasharray: 1167;
      stroke-dashoffset: 3501;
    }
    #arrow-asset-1-path {
      stroke-dasharray: 460;
      stroke-dashoffset: (460*3);
    }
    #arrow-asset-2-path {
      stroke-dasharray: 456;
      stroke-dashoffset: (456*3);
    }

    .expense-item,
    #out-flow,
    #liability-item-mortgage,
    #liability-item-big-toys,
    #liability-item-credit-card,
    #liability-item-debt,
    #expense-item-payments {
      fill: #ff3860;
    }
    .income-item,
    #in-flow,
    #asset-item-business,
    #asset-item-real-estate,
    #asset-item-intellectual-property,
    #income-item-business,
    #income-item-rental,
    #income-item-dividends,
    #income-item-royalties {
      fill: #48c774;
    }
  }
}
