.InOutBox-hover:hover, .table.is-striped tbody tr:not(.is-selected):nth-child(2n):hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.InOutBox-passive-tag {
    margin-left: 1rem;
}

.InOutBox .title {
    padding: 0 2.5%;
}

.InOutBox-close-modal:hover {
    cursor: pointer;
}